.outer {    
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
    background: url("/assets/img/loggedout-transparency-pattern.png") repeat repeat, linear-gradient(180deg,transparent, rgba(0, 0, 0, 0.8)), url('/assets/img/loggedout-background.jpg') no-repeat center center fixed;
    background-size: 4px 4px, cover, cover;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    z-index: 999;
    position: relative;
    opacity: 1;
    margin-left: auto;
    margin-right: auto; 
    width: 400px;
}

.login-title-outer {
    z-index: 990;
    display: table;
    position: absolute;
    height: 100%;
    width: 100%; 
}

.login-title-middle {
    display: table-cell;
    vertical-align: middle;
}

.login-title-inner { 
    position: relative;
    opacity: 1;
    margin-left: auto;
    margin-right: auto; 
    width: 200px;
    color: white;
    font-size: 41px; 
    line-height: 63px;
    left: 350px;
    text-align: left;
}

@media (max-width: 890px) {
    .login-title-outer {
        display: none;
    }
}

@media only screen and (width:320px){
    .inner {
        position: relative;
        opacity: 1;
        margin-left: auto;
        margin-right: auto;
        width: 270px; 
    }
}